*{
	margin: 0;
	padding: 0;
	list-style: none;
}
*{
	font-size: 14px;
	color: #000;
	font-family: sans-serif;
}
a{
	text-decoration: none;
}
html,body{
	background: rgba(0, 0, 0, 0.3);
}
main{
	width: 450px;
	height: 287px;
	background: #fff;
	border-radius: 3px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
main h3{
	text-align: center;
	line-height: 58px;
	font-size: 20px;
}
main .inputEle{
	width: 350px;
	height: 40px;
	margin: 18px auto 24px;
	font-size: 16px;	

}
main .inputEle span{
	color: #1788bc;
	font-size: 17px;
	padding: 0 5px;
	line-height: 50px;
}
main .inputEle a{
	color: #1788bc;
}